*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color : rgb(218, 240, 255);
    display: flex;
    justify-content: center;
    padding: 80px 0;
    position: relative;
}
.boxes{
    border-radius: 50%;
    position: absolute;
    z-index: -100;
}
.boxes:first-child{
    width: 300px;
    height: 300px;
    right: 300px;
    top: 450px;
    background-color: rgba(22, 185, 214, 0.5);
}
.boxes:nth-child(2){
    width: 300px;
    height: 300px;
    left: 230px;
    top: 150px;
    background-color: rgba(0, 255, 76, 0.5);
}
.boxes:nth-child(3){
    width: 400px;
    height: 400px;
    left: 150px;
    bottom: 150px;
    background-color: rgba(255, 0, 0, 0.5);
}
.boxes:nth-child(4){
    width: 400px;
    height: 400px;
    right: 150px;
    bottom: 150px;
    background-color: rgba(4, 0, 255, 0.5);
}
.boxes:nth-child(5){
    border-radius: 0;
    width: 400px;
    height: 400px;
    left: -205px;
    bottom: 150px;
    background-color: rgb(218, 240, 255);
    z-index: -90;
}
.boxes:nth-child(6){
    border-radius: 0;
    width: 400px;
    height: 400px;
    right: -205px;
    bottom: 150px;
    background-color: rgb(218, 240, 255);
    z-index: -90;
}

#container{
    width: 70%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
ul{
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style-type: none;
}
ul>button{
    padding: 5px 10px;
    border: none;
    background-color: rgb(41, 41, 245);
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

section{
    margin: 80px 0;
    padding: 0px 80px;
    width: 100%;
}
.hero h1{
    font-size: 80px;
}
.hero-icons{
    display: flex;
    align-items: center;
    width: 20%;
    position: relative;
}
#svg{
    position: absolute;
    right: 0;
}
 
.about{
    display: flex;
}

.about > div{
    width: 50%;
}
#about-img{
    object-fit: contain;
}
#about-img img{
    width: 90%;
    height: 100%;
    box-shadow: 1px 5px 20px;
}
.about-desc{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-desc h1{
    font-size: 40px;
}
.about-desc img{
    display: none;
}
.about-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about-buttons button{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(127, 246, 255);
    backdrop-filter: blur(5px);
    color: rgb(70, 140, 247);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.about-buttons button:hover{
    background-color: rgb(41, 41, 245);
    color: white;
}
.about-buttons :first-child{
    background-color: rgb(41, 41, 245);
    color: white;
}
.about-buttons :first-child:hover{
    background-color: rgb(127, 246, 255);
    color: rgb(70, 140, 247);
}
.projects > h1{
    text-align: center;
    margin-bottom: 10px;
} 
.project-cards{
    width: auto;
    display: flex;
    gap: 15px;
    overflow: auto;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-bottom: 40px;
    scrollbar-width: none;
    padding: 20px 5px;
}
.project-cards::-webkit-scrollbar {
    height: 0;
    width: 0;
    background-color: transparent;
}
.project-card{
    min-width: 720px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 20px 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .3);
}
.project-card-img{
    width: 30%;
    height: 80%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : #d5ddda;
}
.project-card-desc{
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-card-desc small{
    color: blue;
    font-weight: 900;
}
.project-card-desc button{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(41, 41, 245);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact h1{
    font-size: 50px;
}
.contact button{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
footer{
    display: flex;
    align-items: center;
    background-color: blue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100px;
    width: 100%;
}
footer h1{
    margin-left: 30%;
    margin-right: 30%;
}

.footer-icons{
    display: flex;
    align-items: center;
    width: 16%;
    position: relative;
}

@media screen and (max-width: 650px){
    body{
        padding: 0;
    }
    #container{
        width: 100%;
    }
    nav{
        padding: 10px;
    }
    ul{
        display: none;
    }
    section{
        margin: 50px 0;
        padding: 0 10px;
    }
    .hero h1{
        font-size: 60px;
    }
    .hero-icons #svg{
        left: 85px;
    }
    .about{
        flex-direction: column;
    }
    .about > div{
        width: 100%;
    }
    #about-img{
        display: none;
    }
    .contact h1{
        font-size: 30px;
    }
    .contact button{
        width: 100px;
        height: 30px;
        border-radius: 5px;
    }
    .project-cards{
        flex-direction: column;
        min-width: 100%;
        width: auto;
        overflow: hidden;
        box-sizing: border-box;
        margin-bottom: 40px;
        scrollbar-width: none;
        padding: 20px 5px;
    }
    .project-card{
        flex-direction: column;
        min-width: 100px;
    }
    .project-card-img{
        display: none;
    }
    .project-card-desc{
        width: 100%;
    }
    #svg{
        left: -50px;
    }
    .footer-icons{
        width: 50%;
    }
    footer h1{
        margin-left: 10%;
        margin-right: 40%;
    }
    .about-desc{
        align-items: center;
    }
    .about-desc img{
        display: block;
        width: 90%;
        height: 100%;
        border-radius: 50%;
    }
    .about-buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .boxes{
        display: none;
    }
}